.row
  .col-12.text-center
    %img.information-png{:alt => "ふぁしり", :src => "/assets/facili_logo_mark.png"}
    %h1.text-center 大学の教科書販売に革命を！
  %h1 帝京平成大学専用教科書販売システム
  .product
    .row
      %img.heavy-baggage-png.col-lg-4.order-2{:alt => '重い荷物', :src => '/assets/books2.jpg'}
      .info-text-box.col-lg-8.order-1
        %h4 毎年毎年そんな思い教科書を持って帰るなんてのはやめて
        %br
        %h4 もっと楽に教科書を購入しませんか？













