.clearfix{
  content:"";
  clear: both;
  display: block;
}
/*ヘッダー*/
.sub-head{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

a, a:visited, a:focus, a:hover {
    text-decoration: none !important;
}

/*アイコン*/
.home-icon{color: #33CC00;}
.profile-icon{color: #FF9933;}
.signout-icon{color: #FF3333;}
.info-icon{color: #0066CC;}
.signin-icon{color: #FF9933;}
.signup-icon{color: #FFCC33;}
hr.top{
  margin-top: -10px;
  border-top: 2px solid #eeeeee;
}

.logo-marks{
  width: 160px;
  height: 60px;
  margin-left: 20px;
}

/*フッター*/
footer {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.btn.btn-signin {
    background-color: #5bc0de;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.login-form input{
  width: 100%;
  height: 38px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: ridge;
}

.mgs{
  margin-top: 10px;
}
